@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

:root {
    --primary-color: #191D32;
    --secondary-color: #3a54a3;
    --accent1-color: #3c3a49;
    --accent2-color: #6D3B47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Bebas Neue', sans-serif;
    color: var(--primary-color);

}

p {
    color: black;
    padding: 25px;
    font-size: 16px;
}

.sociallinks a {
    text-decoration: none;
}


body {
    max-width: 1200px;
    margin: 0 auto;
}


.hero {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;

}


.hero article {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
    
}

.hero article img {
    float: right;
    width: 100px; 
    margin-left: 20px;
    margin-bottom: 10px; 
    
}

.hero article p {
    overflow: hidden;
}

header {
    display: grid;
    grid-template-columns: auto 1fr; /* Using CSS Grid for horizontal layout */
    align-items: center;
    padding: 20px;
    background-color: rgb(119, 119, 242);
  }
  
  header img {
    max-width: 100px;
  }
  
  nav {
    display: flex; 
    gap: 20px;
  }
  
  nav a {
    color:white;
    display:block ;
    
    padding: 5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  }
  
 
  main {
    padding: 20px;
  }
  
 
  footer {
    background-color: var(--accent2-color);
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .sociallinks {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .sociallinks img {
    width: 30px;
    height: auto;
  }



  .box1 {
   
    margin: 1rem; 
      border: 1px solid rgba(0, 0, 0, .1); 
      padding: 2rem;
      background-color: #ddd;
      color: #000; 
      text-align: center;
  
  }
  .box1 img{
    width: 500px;
      height: auto;
      margin-bottom: 20px


  
}


h2 {
  margin-top: 0; 
}
.container {
   
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 2rem;
      border: 1px solid rgba(0, 0, 0, .1);
      padding: 1rem;
      background-color: #ddd;
      color: #000;
      max-width: 80%;
      padding-left: 1rem;
    
  
  }
  .container img{
    width: 130px;
    height: auto;
    float: right;
   margin: 1rem;


  
}

footer {
  
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 8px;
  text-align: left;
  margin: 1rem;
}
figure {
 
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 500px;
  margin: auto;
}

.Adventure img {
  display: block;
  width: 500px ;
  height: auto;

}