@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik+Mono+One&display=swap');
:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Agbalumo', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #f39c12;
    --nav-hover-background-color: #555;
}
body {
    font-family: 'Roboto', sans-serif; 
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font), 'Agbalumo', sans-serif;
    color: #185bce;
    font-weight: bold;
    
}
header {
    background-color: var(--accent-color);
    color: #3b5875; 
    padding: 20px;
}
p {
    padding: 25px;
     
}

nav {
    background-color: var(--navigation-bg-color);
    font-size:1.2rem;
    display:flex;
}

nav a {
    color: var(--navigation-link-color);
    text-decoration: none;
    padding:1rem;
    display:block;
}
nav a:link, nav a:visited{
    color: var(--navigation-link-color);
}



nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-bg-color);
}
header img {
    width: 50%; 
    height: auto;
    
}
